<ng-container *ngIf="!isLoggedIn">
    <div>
        <sgds-masthead></sgds-masthead>
      </div>
      <sgds-mainnav>
        <a class="navbar-item" href="#">
          <img src="../../../assets/img/betterwordlogo@0.5x.png" width="112" height="28"
              alt="cannot load image"
              loading="lazy">
        </a>
        <sgds-mainnav-item>SayLah! </sgds-mainnav-item>
      </sgds-mainnav>
      <br>
</ng-container>

<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <app-navbar *ngIf="isLoggedIn">
        <sgds-button class="sign-out" (click)="signOut();onLogout()">Sign Out</sgds-button>
    </app-navbar>
    <app-edit-cards></app-edit-cards>
  </ng-template>
</amplify-authenticator>

<br>
<sgds-footer title="Singapore Government Design System" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum illo delectus laborum libero id ratione quibusdam tempora assumenda quas, pariatur cum minus, aliquid molestiae et nisi dolorem vitae molestias! Voluptate commodi aliquid iusto sequi sit eligendi, quod numquam nihil consectetur eaque error earum laudantium! Temporibus accusamus pariatur quod totam quia." lastupdateddate="01 Sep 2020" contacthref="https://form.gov.sg/" feedbackhref="https://form.gov.sg/" privacyhref="https://www.designsystem.tech.gov.sg/privacy/" termsofusehref="https://www.designsystem.tech.gov.sg/terms-of-use/" copyrightliner="Government of Singapore">
</sgds-footer>