<div class="modal-background custom-background"></div>
<div class="modal-content">
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <form [formGroup]="form">
            <button class="button is-success update-button" [disabled]="form.invalid" (click)="save()">Save</button>
            <button class="button is-danger update-button" (click)="exit()">Cancel</button>
            <div class="field">
              <label class="label update-label">Name <strong style="color: red;">*</strong></label>
              <div class="control">
                <input id="name" class="input" type="text" placeholder="Name" formControlName="name">
              </div>
            </div>
            <div class="field">
              <label class="label update-label">Code <strong style="color: red;">*</strong></label>
              <div class="control">
                <textarea id="code" class="textarea" type="text" placeholder="code" formControlName="code" rows="2">
                </textarea>
              </div>
            </div>
            <div class="field">
                <label class="label create-label">Type <strong style="color: red;">*</strong></label>
                <div class="control">
                  <div class="select">
                    <select id="type" formControlName="type">
                      <option value="" disabled selected>Select type</option>
                      <option value="category">Category</option>
                      <option value="action">Action</option>
                      <!-- Add more options as needed -->
                    </select>
                  </div>
                </div>
              </div>
            <div class="field">
              <label class="label update-label">Image</label>
              <div class="control">
                <input id="image" class="input" type="text" placeholder="Image" formControlName="image">
              </div>
            </div>
            <div class="field">
              <label class="label update-label">Sound</label>
              <div class="control">
                <input id="sound" class="input" type="text" placeholder="Sound" formControlName="sound">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<button class="modal-close is-large" aria-label="close" (click)="exit()"></button>