<app-navbar></app-navbar>
<br>
<div class="container">
    <ul class="sgds nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="language-tab" data-bs-toggle="tab" data-bs-target="#language" type="button" role="tab"
          aria-controls="language" aria-selected="true">Language</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="voice-tab" data-bs-toggle="tab" data-bs-target="#voice" type="button" role="tab"
          aria-controls="voice" aria-selected="false">Voice</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="saved-interfaces-tab" data-bs-toggle="tab" data-bs-target="#saved-interfaces" type="button" role="tab"
          aria-controls="saved-interfaces" aria-selected="false">Saved Interfaces</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="grid-size-tab" data-bs-toggle="tab" data-bs-target="#grid-size" type="button" role="tab"
          aria-controls="grid-size" aria-selected="true">Grid Size</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="font-size-tab" data-bs-toggle="tab" data-bs-target="#font-size" type="button" role="tab"
          aria-controls="font-size" aria-selected="false">Font Size</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="themes-tab" data-bs-toggle="tab" data-bs-target="#themes" type="button" role="tab"
          aria-controls="themes" aria-selected="false">Themes</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="templates-tab" data-bs-toggle="tab" data-bs-target="#templates" type="button" role="tab"
          aria-controls="templates" aria-selected="false">Templates</button>
      </li>
    </ul>

    <br>

    <div class="sgds tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="language" role="tabpanel" aria-labelledby="language-tab">
            <app-teaser></app-teaser></div>
        <div class="tab-pane fade" id="voice" role="tabpanel" aria-labelledby="voice-tab">
            <app-teaser></app-teaser></div>
        <div class="tab-pane fade" id="saved-interfaces" role="tabpanel" aria-labelledby="saved-interfaces-tab">
            <app-teaser></app-teaser></div>
        <div class="tab-pane fade" id="grid-size" role="tabpanel" aria-labelledby="grid-size-tab">
            <app-teaser></app-teaser></div>
        <div class="tab-pane fade" id="font-size" role="tabpanel" aria-labelledby="font-size-tab">
            <app-teaser></app-teaser></div>
        <div class="tab-pane fade" id="themes" role="tabpanel" aria-labelledby="themes-tab">
            <app-teaser></app-teaser></div>
        <div class="tab-pane fade" id="templates" role="tabpanel" aria-labelledby="templates-tab">
            <app-teaser></app-teaser></div>
    </div>

</div>

<sgds-footer title="Singapore Government Design System" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum illo delectus laborum libero id ratione quibusdam tempora assumenda quas, pariatur cum minus, aliquid molestiae et nisi dolorem vitae molestias! Voluptate commodi aliquid iusto sequi sit eligendi, quod numquam nihil consectetur eaque error earum laudantium! Temporibus accusamus pariatur quod totam quia." lastupdateddate="01 Sep 2020" contacthref="https://form.gov.sg/" feedbackhref="https://form.gov.sg/" privacyhref="https://www.designsystem.tech.gov.sg/privacy/" termsofusehref="https://www.designsystem.tech.gov.sg/terms-of-use/" copyrightliner="Government of Singapore">
</sgds-footer>