<app-navbar></app-navbar>
<!-- <app-teaser></app-teaser> -->
<sgds-template-grid>
    <sgds-content-area>
        <!-- Breadcrumb component -->
        <nav class="sgds" aria-label="breadcrumb">
            About SayLah!
            </nav>
        <sgds-content-header-top>
            Welcome to SayLah! - a Singapore-based free program dedicated to empowering non-verbal individuals to find their voice.
        </sgds-content-header-top>
        <sgds-content-body>
            <img src="https://source.unsplash.com/featured/?communication"
            class="center-img"
            loading="lazy"
            width="224" height="56"
            alt="Placeholder image">
            At SayLah!, we understand the challenges faced by non-verbal individuals in expressing themselves and communicating with others. Our mission is to bridge this gap by providing accessible and user-friendly tools and resources that facilitate communication and self-expression.
        </sgds-content-body>
        <sgds-content-body>
            <img src="https://source.unsplash.com/featured/?technology"
            class="center-img"
            loading="lazy"
            width="224" height="56"
            alt="Placeholder image">
            Through innovative technologies and compassionate support, SayLah! strives to make communication more inclusive and equitable for everyone. We believe that every individual deserves to be heard and understood, regardless of their verbal abilities.
        </sgds-content-body>
        <sgds-content-body>
            <img src="https://source.unsplash.com/featured/?community"
            class="center-img"
            loading="lazy"
            width="224" height="56"
            alt="Placeholder image">
            SayLah! is not just a program; it's a community of caregivers, educators, therapists, and individuals committed to advocating for the rights and dignity of non-verbal individuals. Together, we're breaking down barriers and empowering individuals to express themselves authentically and confidently.
        </sgds-content-body>
        <sgds-content-body>
            <img src="https://source.unsplash.com/featured/?free-speech"
            class="center-img"
            loading="lazy"
            width="224" height="56"
            alt="Placeholder image">
            Join us on our journey to give a voice to those who have been silenced. Together, let's SayLah! - because everyone deserves to be heard.
        </sgds-content-body>
    </sgds-content-area>
</sgds-template-grid>
    
<sgds-footer title="Singapore Government Design System" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum illo delectus laborum libero id ratione quibusdam tempora assumenda quas, pariatur cum minus, aliquid molestiae et nisi dolorem vitae molestias! Voluptate commodi aliquid iusto sequi sit eligendi, quod numquam nihil consectetur eaque error earum laudantium! Temporibus accusamus pariatur quod totam quia." lastupdateddate="01 Sep 2020" contacthref="https://form.gov.sg/" feedbackhref="https://form.gov.sg/" privacyhref="https://www.designsystem.tech.gov.sg/privacy/" termsofusehref="https://www.designsystem.tech.gov.sg/terms-of-use/" copyrightliner="Government of Singapore">
</sgds-footer>
