<ng-container *ngIf="category$ | async as category">
    <div class="custom-box">
      <div class="center-text adjustable-font">{{ category.name }}</div>
    </div>
    <ng-container *ngIf="category.cards?.length; else empty">
      <app-card *ngFor="let card of category.cards">
        <div class="custom-card">
            <br>
            <br>
            <div class="card-image">
                <a href="#" [routerLink]="['', card.code]">
                  <img src="https://source.unsplash.com/featured/?{{card.code}}"
                    class="center-img"
                    loading="lazy"
                    width="224" height="56"
                    alt="Placeholder image">
                </a>
            </div>
            <div class="card-content">
              <div class="content center-text adjustable-font">
                {{ card.name}}
              </div>
            </div>
            <footer class="card-footer">
              <button (click)="say(card)" class="button is-primary is-light card-footer-item">Say</button>
            </footer>
        </div>
        <br>
    </app-card>
    </ng-container>
    <ng-template #empty>
      <h1>Oooops this space is empty</h1>
      <sgds-button slot="end" (click)="back()">Go back</sgds-button>
    </ng-template>
</ng-container>
<!-- <div>{{ category$ | async | json }}</div> -->

<!-- <sgds-button (click)="showAlert()">Hello</sgds-button> -->
<!-- <sgds-alert #alert [show]="alertShowState">Alerting</sgds-alert> -->