<br><div class="container">
    <sgds-card bgcolor="" bordercolor="" textcolor="">
        <span slot="card-title">Exciting Updates Coming Soon!</span>
        <span slot="card-text">We're working hard behind the scenes to bring you something special! Stay tuned as we prepare to unveil exceiting updates and new features. In the meantime, thank you for your patience and continues support. We can't wait to share what we have in store with you.</span>
        <img slot="card-image" alt="img alternate text goes here" src="https://source.unsplash.com/featured/?coming-soon;auto=format&amp;fit=crop&amp;w=1740&amp;q=80">
        <a slot="card-link" href="#">Go back</a>
    </sgds-card>
</div><br>